body {
    margin: 0;
    padding: 0;
    background: rgb(78, 64, 45);
}
.img {
    width: 100%;
    height: 250px;
    cursor: pointer;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 5px;
    border: 4px solid white;
}
.header {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.line {
    margin: 2px;
    color: blue;
}
.head {
    text-align: center;
    background-color: black;
    color: rgb(214, 205, 255);
    font-family: sans-serif;
    padding: 10px;
    font-size: 20px;
}
.up {
    margin-left: 5px;
    font-size: 15px;
    color: cadetblue;
    font-family: Helvetica;
}
.tricks p {
    margin-left: 10px;
    text-align: left;
    font-family: 'trebuchet MS';
    color: white;
    font-size: 18px;
}
.tricks p b {
    color: whitesmoke;
    padding-right: 3px;
    font-family: Verdana;
}
.start {
    margin-left: 20px;
    font-family: Helvetica;
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
.btn {
    position: relative;
    height: 45px;
    margin-left: 37%;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-family: arial;
    font-weight: bold;
    border: 5px solid blue;
    letter-spacing: 5px;
    border-radius: 5px;
    background: transparent;
}
.btn:hover {
    opacity: 90px;
}
.sbtn {
    height: 40px;
    width: 40px;
    margin-top: 20px;
    margin-left: 29%;
    margin-right: 0%;
    border: 5px solid white;
    border-radius: 100px;
}
.sbtn:hover {
    opacity: 30%;
}